# Breakglass iptables rules configuration
# These rules will be automatically added to the breakglass iptables chain.
#
# DISCLAIMER: This file is public. DO NOT use specific IP addresses unless
# you want to doxx yourself :) Use network ranges (e.g., /8, /16)
#
# Rule Format: <iptables match criteria> -j <ACTION>
# Note: Chain specification is not required - rules are automatically added to the breakglass chain
#
# Examples:
# ---------
# Allow SSH access from a network range
# -p tcp -s 10.0.0.0/8 --dport 22 -j ACCEPT
-p tcp -s 54.0.0.0/8 --dport 22 -j ACCEPT
#
# Allow HTTPS traffic from anywhere
# -p tcp --dport 443 -j ACCEPT
#
# Block all traffic from a suspicious network
# -s 192.0.2.0/24 -j DROP

